.get-involved-section-main{
	width: 100%;
	height: 100vh;
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 30px 0px 30px;
	position: relative;
}

.get-involved-section{
	width: 100%;
	height: 70vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0px 30px 0px 30px;
	
}

.get-involved-container {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0rem 2rem 0rem;
	background-color: #f5f5f5;
	border-radius: 5px;
	text-align: center;
	position: relative;
  }
  
  .get-involved-container h2 {
	width: 100%;
	height: auto;
	padding: 2rem 2rem 2rem 9rem;
	font-size: 2.5rem;
	color: #4a4a4a;
	background-color: #00245D;
	color: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }

  .get-involved-para-wrap{
	width: 100%;
	height: auto;
	background-color: #0082C8;
	color: #ffffff;
	padding-bottom: 2rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 2rem 1rem 9rem;
  }
  
  .get-involved-para-wrap p {
	width: 70%;
	font-size: 1.4rem;
	line-height: 1.5;
	margin-bottom: 2rem;
	text-align: justify;
	text-justify: inter-word;
  }
  
  .get-involved-para-wrap button {
	font-size: 1.1rem;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	border: none;
	background-color: #C2CD23;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }
  
  .get-involved-para-wrap button:hover {
	background-color: #3e8e41;
  }

  .get-involved-bottom-bar{
	width: 100%;
	height: 3rem;
	background-color: #FDBB30;
  }

  .image-box {
    width: 100%;
    height: auto; 
	position: absolute;
	right: -18px;
	top: 41.8%;
}

.border-image{
	width: 100%;
    max-width: 300px;
    height: 408px;
    margin-top: 2rem;
    position: absolute;
    /* top: 40%; */
    right: 0;
    transform: translateY(-50%);
}
  
  .side-image  {
	width: 100%;
    max-width: 300px;
    height: 408px;
    margin-top: 2rem;
    position: absolute;
    /* top: 40%; */
    right: 0;
    transform: translateY(-50%);
  }

  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
	.get-involved-container h2 {
	  width: 100%;
	  height: auto;
	  padding: 2rem 2rem 2rem 9rem;
	  font-size: 2.5rem;
	}
  
	.get-involved-para-wrap {
	  width: 100%;
	  padding: 2rem 2rem 1rem 9rem;
	}
  
	.get-involved-para-wrap button {
	  font-size: 1.1rem;
	  padding: 0.5rem 2rem;
	}
  }
  
  @media only screen and (min-width: 800px) and (max-width: 1200px) {
	.get-involved-container h2 {
	  width: 100%;
	  height: 60px;
	  padding: 2rem 2rem 2rem 6rem;
	  font-size: 2rem;
	}
  
	.get-involved-para-wrap {
	  width: 100%;
	  padding: 3.7rem 2rem 3rem 6rem;
	}
  
	.get-involved-para-wrap button {
	  font-size: 1rem;
	  padding: 0.5rem 2rem;
	  
	}

	.get-involved-para-wrap p {
		width: 60%;
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 2rem;
		text-align: justify;
		text-justify: inter-word;
	}
  }
  
  @media only screen and (min-width: 600px) and (max-width: 800px) {
	.get-involved-container h2 {
		width: 100%;
		height: 60px;
		padding: 2rem 2rem 2rem 2rem;
		font-size: 2rem;
	  }
	
	  .get-involved-para-wrap {
		width: 100%;
		padding: 3.7rem 2rem 2rem 2rem;
	  }
	
	  .get-involved-para-wrap button {
		font-size: 1rem;
		padding: 0.5rem 2rem;
		
	  }
  
	  .get-involved-para-wrap p {
		  width: 50%;
		  font-size: 0.9rem;
		  line-height: 1.5;
		  margin-bottom: 2rem;
		  text-align: justify;
		  text-justify: inter-word;
	  }
	}

  @media only screen and (min-width: 300px) and (max-width: 600px) {
	.get-involved-container h2 {
	  width: 100%;
	  height: 30px;
	  padding: 2rem 2rem 2rem 2rem;
	  font-size: 1.5rem;
	}
  
	.get-involved-para-wrap {
	  width: 100%;
	  padding: 2rem;
	}
  
	.get-involved-para-wrap p {
	  width: 100%;
	  font-size: .9rem;
	}
  
	.get-involved-para-wrap button {
	  font-size: 1rem;
	  padding: 0.5rem 1rem;
	}
  
	.image-box,
	.border-image {
	  display: none;
	}
  }
  