.policies-section-main {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.policies-section {
  width: 100%;
  height: 70vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
}

.policies-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0rem 3rem 0rem;
  background-color: #ffffff;
  text-align: center;
}

.policies-des {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../../assets/sean04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.policies-des::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.policies-left {
  width: 50%;
  height: auto;
  padding: 3rem;
}

.policies-heading{
	position: relative;
	z-index: 1;
	text-align: center;
	color: #0082C8;

}
.policies-para{
	position: relative;
	z-index: 1;
	text-align: center;
	color: #000;
	padding: 3rem;
}

.policies-right {
  width: 50%;
  height: auto;
  padding: 3rem;
}

.right-image {
    width: 100%;
    max-width: 300px;
    height: 408px;
    margin-top: 2rem;
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
}

@media only screen and (min-width: 1200px) {
	.policies-section-main {
	  padding: 0px 30px 0px 30px;
	}
  
	.policies-container {
	  padding: 3rem 0rem 3rem 0rem;
	}
  
	.policies-left,
	.policies-right {
	  width: 50%;
	  height: auto;
	  padding: 3rem;
	}
  
	.policies-heading,
	.policies-para {
	  text-align: center;
	}
  }
  
  @media only screen and (max-width: 1200px) {
	.policies-section,
	.policies-container {
	  height: auto;
	}
  
	.policies-left,
	.policies-right {
	  width: 100%;
	  padding: 2rem;
	}
  
	.policies-para {
	  padding: 2rem;
	}
  }
  
  @media only screen and (max-width: 600px) {
	.policies-para {
	  padding: 1rem;
	}
  
	.policies-left,
	.policies-right {
	  padding: 1rem;
	}
  }
  